        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }
        
        .header {
            padding: 80px;
            text-align: center;
            background-image: url(img/bg-header.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            height: 300px;
        }
        
        .header h1 {
            font-size: 40px;
        }
        
        .navbar {
            overflow: hidden;
            background-color: #333;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
        }
        
        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }
        
        .navbar a.right {
            float: right;
        }
        
        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        
        .navbar a.active {
            background-color: #666;
            color: white;
        }
        
        .row {
            display: -ms-flexbox;
            /* IE10 */
            display: flex;
            -ms-flex-wrap: wrap;
            /* IE10 */
            flex-wrap: wrap;
        }
        
        .side {
            -ms-flex: 30%;
            /* IE10 */
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }
        
        .side h3 {
            text-align: center;
        }
        
        .side h2.motto {
            text-align: center;
        }
        
        .side p {
            text-align: justify;
        }
        
        .main {
            -ms-flex: 70%;
            /* IE10 */
            flex: 70%;
            background-color: white;
            padding: 20px;
        }
        
        .foto-profile {
            width: 100%;
            padding: 5px;
            text-align: center;
        }
        
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
        }
        
        @media screen and (max-width: 700px) {
            .row {
                flex-direction: column;
            }
        }
        
        @media screen and (max-width: 400px) {
            .navbar a {
                float: none;
                width: 100%;
            }
        }