<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College data</title>
</head>
<body>
    <h1>College Data</h1>
    <p>lorem Ips dolor sit amet, consectetur adipis</p>
    <% students.foreach(students => { %>
        <p><%= students.id %></p>
        <p><%= students.name %></p>
        <p><%= students.score %></p>
    <% }) %>
</body>
</html>